
.navbar {
    text-align: center;
    background-color: indianred;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    
}

.navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color:white;
    color: black;
}

/* CSS untuk Profil */
.profil-container {
    text-align: center;
    display: flex; /* Mengatur tampilan elemen dalam mode flex */
    align-items: center; /* Mengatur agar elemen berada di tengah vertikal */
    padding: 40px;
    color: white;
}

.profil-text {
    flex: 1; /* Elemen profil-text akan mengambil sisa ruang yang tersedia */
}

.profil-text h2 {
    font-size: 24px;
}

.profil-text p {
    font-size: 18px;
}

.profil-image {
    flex: 1; /* Elemen profil-image akan mengambil sisa ruang yang tersedia */
    text-align: center; /* Pusatkan gambar secara horizontal */
}

.profil-image img {
    width: 300px; /* Pastikan gambar tidak melebihi lebar kontainer */
    height: auto; /* Biarkan tinggi gambar menyesuaikan */
    border-radius:0%;
    margin-left: 200px;
}
#contact {
    background: indianred;
    padding: 50px 0px 50px 0px;
    margin-top: 15%;
  }
  
  .footer {
    color: white;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
  }
  
  .footer-section {
    width: 20%;
    margin: 0 auto;
  }
body{
 background-color: black;
}
.tutor-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-tutor {
    width: 20%;
    margin: 0 auto;
    transform: scale(1);
}
.kartu-tutor:hover,
.kartu-partner:hover {
    transform: scale(1.2);
    transition: .2s;
}



.kartu-tutor img {
    width: 80%;
    border-radius: 0%;
}

.kartu-tutor {
    font-style: inherit;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: white;
}

.partner-list {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.kartu-parner {
    width: 20%;
    margin: 0 auto;
}

.kartu-parner img {
    width: 150px;
    border-radius: 50%;
}
